---
import { HomeLayout } from "charm:layouts";
import { PostList } from "charm:components";
import { getTagStaticPaths as getStaticPaths } from "../../utils/collectionUtils";
import { getPostEntriesByTag } from "../../utils/collectionUtils";
export { getStaticPaths };

const entries = await getPostEntriesByTag(Astro.params.tag!);
const p = Astro.url.searchParams.get("p");
const page = p ? parseInt(p) : 0;
---

<HomeLayout useH1>
  <h2>Tag: {Astro.params.tag}</h2>
  <PostList {page} {entries} />
</HomeLayout>
