---

---

<div class="content-wrapper">
  <slot />
</div>
<style>
  .content-wrapper {
    padding: 3rem 0;
    min-width: 16rem;
    max-width: 48rem;
    width: 100%;
    margin-inline: 0;
  }
</style>
