---
import { HomeLayout } from "charm:layouts";
import { PostList } from "charm:components";
import { getCategoriesStaticPaths as getStaticPaths } from "../../utils/collectionUtils";
import { getPostEntriesByCategory } from "../../utils/collectionUtils";
export { getStaticPaths };

const entries = await getPostEntriesByCategory(Astro.params.category!);
const p = Astro.url.searchParams.get("p");
const page = p ? parseInt(p) : 0;
---

<HomeLayout useH1>
  <h2>Category: {Astro.params.category}</h2>
  <PostList {page} {entries} />
</HomeLayout>
